{% load static %}

<!doctype html>

<head>
    <title>
        {% block title %}{% endblock %}
    </title>
</head>

<body>
    
    <nav>
        <a href= "{% url 'homely' %}">HOME</a>
        <a href= "{% url 'course_list' %}">Course List</a>
    </nav>

    <div class ='row'>
        <div class ='small-6 smakk-centered columns'>
            {% for message in messages %}
            <div data-alert class = 'alert-box {{ message.tags }}radius'>
                {{ message }}

                <a href = '#' class = 'close'&times;></a>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class = "site-container">
        {% block content %} {% endblock %}
    </div>
</body>

